services:
  stats-db:
    image: postgres:16.1
    container_name: stats-db
    environment:
      POSTGRES_DB: stats
      POSTGRES_USER: stats
      POSTGRES_PASSWORD: stats
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U stats -d stats"]
      interval: 5s
      timeout: 5s
      retries: 5

  stats-server:
    build:
      context: .
      dockerfile: stats-service/stats-server/Dockerfile
    container_name: stats-server
    ports:
      - "9090:9090"
    depends_on:
      stats-db:
        condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://stats-db:5432/stats
      SPRING_DATASOURCE_USERNAME: stats
      SPRING_DATASOURCE_PASSWORD: stats
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:9090/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 5

  ewm-db:
    image: postgres:16.1
    container_name: ewm-db

  ewm-service:
    container_name: ewm-service
    ports:
      - "8080:8080"
